<!DOCTYPE html>
<html>
<head>
  <title>Corporate Application</title>
</head>
<body>
  <h1>Corporate Application</h1>
  <p>Host: {{ ansible_hostname }}</p>
  <p>Environment: {{ deployment_environment }}</p>
  <p>Web port: {{ webserver_port }}</p>
  <p>Deployment managed by Ansible</p>
</body>
</html>
